    @import 'font.css';
    body {
        font-family: 'Open Sans';
    }
    
    .menu li,
    menu ul {
        display: inline;
    }
    
    .menu-bar {
        background: white;
        color: #212121;
        padding: 20px 0;
    }
    
    .menu__item {
        margin-left: 37px;
    }
    
    .menu__item a {
        font-family: 'Open Sans Semibold';
        font-size: 20px;
        color: #212121;
    }
    
    .menu__item a:hover {
        text-decoration: none;
        color: #a2b6b5f8;
    }
    /* Header style start */
    
    .header {
        text-align: center;
        color: white;
        padding: 180px 0;
        background-size: cover;
        background-position: 0 100%;
        background-image: url(..//img/header.png);
    }
    
    .header__title {
        font-size: 55px;
    }
    
    .header__text {
        margin-bottom: 100px;
        font-size: 22px;
    }
    
    .button {
        cursor: pointer;
        padding: 10px 25px;
        margin: 0px 10px;
        color: white;
        transition: 0.3s;
        background: #00897b;
        border: 2px solid #00897b;
    }
    
    .button:hover {
        background: transparent;
        border: 2px solid white;
    }
    /* Headet style end */
    /* About style start */
    
    .about {
        padding-top: 125px;
        padding-bottom: 125px;
        color: black;
        background: white;
        text-align: center;
    }
    
    .about__title {
        font-size: 30px;
        font-weight: bold;
    }
    
    .about__text {
        color: #212121;
        font-size: 15px;
        margin-bottom: 110px;
    }
    
    .about__h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-family: 'Open Sans Semibold';
        font-size: 20px;
    }
    /* About style end */
    /* Services style start */
    
    .services {
        padding-top: 165px;
        padding-bottom: 125px;
        color: black;
        background: #b0d8d1;
        text-align: center;
    }
    
    .our_card {
        margin-bottom: 30px;
        background: white;
        padding: 50px 40px 40px;
        transition: 0.3s;
    }
    
    .our_card:hover {
        background: #86e0d7;
        box-shadow: 13px 17px 14px -4px black;
    }
    
    .our_card:hover .icon {
        color: white;
    }
    
    .our_card:hover .button-services {
        border: 2px solid white;
        color: white;
    }
    
    .icon {
        transition: 0.3s;
        font-size: 60px;
        color: black;
    }
    
    .our_card p {
        margin-bottom: 40px
    }
    
    .button-services {
        transition: 0.3s;
        color: black;
        font-family: 'Open Sans Semibold';
        padding: 10px 14px;
        text-transform: uppercase;
        background: transparent;
        border: 2px solid black;
    }
    
    .button-services:hover {
        cursor: pointer;
    }
    /* Services style end */
    /* Portfolio style start */
    
    .portfolio {
        text-align: center;
        padding-top: 120px;
        padding-bottom: 135px;
    }
    
    .portfolio button:hover,
    .focused {
        color: black;
        background: transparent;
        border: 2px solid #00897b;
    }
    
    .portfolio img {
        padding-bottom: 30px;
    }
    
    .filter {
        padding: 120px 0px;
    }
    
    div[filter]:hover img {
        filter: brightness(50%);
        transition: 0.3s;
    }
    
    .text {
        display: none;
    }
    
    div[filter]:hover .text {
        display: block;
        width: 100%;
        color: white;
        position: absolute;
        top: 40%;
        left: 0;
        z-index: 3;
        text-align: center;
    }
    /* Portfolio style end */
    /* Pricing plan style start */
    
    .pricing {
        padding-top: 165px;
        padding-bottom: 125px;
        color: black;
        background: #f0f1f1;
        text-align: center;
    }
    
    .price {
        transition: 0.3s;
        background: white;
        max-width: 373px;
    }
    
    .price__head {
        color: white;
        padding-top: 40px;
        padding-bottom: 65px;
        background-image: url(/web-development/img/item-7.png);
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 211px;
        max-width: 373px;
    }
    
    .price__head p {
        font-size: 25px;
    }
    
    .price__head {
        font-size: 50px;
    }
    
    .price__head sub {
        vertical-align: middle;
        font-size: 17px;
    }
    
    .price__head sup {
        vertical-align: middle;
        font-size: 25px;
    }
    
    .price__body {
        font-size: 17px;
        color: #212121;
    }
    
    .price__body li {
        list-style-type: none;
        margin: 40px auto;
        max-width: 175px;
        border-bottom: 1px solid #bfbfbf;
    }
    
    .price__body ul {
        padding-left: 0px;
    }
    
    .price__footer {
        padding: 0px 0px 60px 0px;
    }
    
    .price__footer button {
        cursor: pointer;
        color: #212121;
        background: transparent;
        padding: 15px 30px;
        font-size: 20px;
        border: 2px solid #212121;
        transition: 0.3s;
    }
    
    .price__footer button:hover {
        text-transform: uppercase;
        color: white;
        background: #00897b;
        border: none;
    }
    
    .price:hover {
        box-shadow: 0px -6px 45px 15px rgba(34, 60, 80, 0.2);
    }
    /* Pricing plan style end */
    /* Team style start */
    
    .team {
        padding-top: 165px;
        padding-bottom: 125px;
        color: black;
        background: #ffffff;
        text-align: center;
    }
    
    .team h4 {
        margin-top: 30px;
        font-size: 20px;
        font-family: 'Open Sans Semibold'
    }
    
    .team p {
        font-size: 15px;
        margin-bottom: 30px;
    }
    
    .icons {
        display: flex;
        justify-content: center;
    }
    
    .icons a i {
        transition: 0.3s;
    }
    
    .icons i:nth-child(1) {
        color: #f0f1f1;
    }
    
    .icons i:nth-child(2) {
        color: #00897b
    }
    
    .icons a:hover i:nth-child(1) {
        color: #3949ab;
    }
    
    .icons a:hover i:nth-child(2) {
        color: #ffffff;
    }
    
    .multiple-items {
        margin-top: 125px;
    }
    
    .dots-style li {
        display: inline-block;
        list-style-type: none;
    }
    
    .dots-style {
        margin-top: 115px;
        display: flex;
        justify-content: center;
    }
    
    .dots-style button {
        background: #00897b;
        border: none;
        border-radius: 50%;
        font-size: 0;
        height: 15px;
        weight: 15px;
        margin: 5px;
    }
    
    .dots-style li[class="slick-active"] button {
        background: #3949ab;
    }
    /* Team style end */
    /* Blog style start */
    
    .left>div:first-child {
        order: 1;
    }
    
    .left>div:last-child {
        order: 2;
    }
    
    .right>div:last-child {
        order: 1;
    }
    
    .right>div:first-child {
        order: 2;
    }
    
    .blog {
        text-align: left;
        margin-top: 60px;
        margin-left: 30px;
    }
    
    .blog a {
        font-size: 25px;
        font-family: 'Open Sans Semibold';
        color: #212121;
        cursor: pointer;
    }
    
    .blog a:hover {
        text-decoration: none;
        color: #00897b;
    }
    
    .blog span {
        font-size: 17px;
        font-family: 'Open Sans Semibold';
        margin-right: 40px;
    }
    
    .blog i {
        margin-right: 15px;
    }
    
    .blog div {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    .blog p {
        font-size: 15px;
    }
    
    .left,
    .right {
        margin: 0 -40px;
    }
    
    .pic_left {
        margin: 0 -20px;
    }
    
    .pic_right {
        margin: 0 20px;
    }
    
    .button_blog {
        width: 220px;
        height: 70px;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        margin-top: 125px;
        border: none;
        background: #00897b;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    /* Blog style end */
    /* Footer style start */
    
    .footer {
        padding-top: 165px;
        padding-bottom: 125px;
        color: #fff;
        background-image: url(/web-development/img/footer.png);
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .footer .about__text {
        color: white;
        margin-top: 35px;
    }
    
    .fa-location-dot,
    .fa-phone,
    .fa-envelope {
        font-size: 62px;
        color: white;
    }
    
    .circle {
        background: #3949ab;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 35px;
    }
    
    .circle+p {
        font-size: 20px;
    }
    
    .footer input,
    .footer textarea {
        padding: 30px;
        width: 100%;
        border-radius: 10px;
        border: none;
    }
    
    .footer input:focus,
    .footer textarea:focus {
        outline: none;
    }
    
    .footer textarea {
        margin-top: 30px;
        margin-bottom: 30px;
        resize: none;
    }
    
    .form {
        margin-top: 70px;
    }
    
    .footer button {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #212121;
        padding: 20px 80px;
        border-radius: 10px;
        border: none;
    }
    
    .rules {
        padding: 20px 0;
        text-align: center;
        font-weight: 600;
    }
    /* Footer style end */