    @import 'font.css';
    body {
        font-family: 'Open Sans';
    }
    
    ul,
    li {
        display: inline;
    }
    
    .menu-bar {
        background: white;
        color: #212121;
        padding: 20px 0;
    }
    
    .menu__item {
        margin-left: 37px;
    }
    
    .menu__item a {
        font-family: 'Open Sans Semibold';
        font-size: 20px;
        color: #212121;
    }
    
    .menu__item a:hover {
        text-decoration: none;
        color: #a2b6b5f8;
    }
    /* Header style start */
    
    .header>div {
        text-align: center;
        color: white;
        padding: 180px 0;
        background-size: cover;
        background-position: 0 100%;
        background-image: url(..//img/header.png);
    }
    
    .header__title {
        font-size: 55px;
    }
    
    .header__text {
        margin-bottom: 100px;
        font-size: 22px;
    }
    
    .button {
        padding: 10px 25px;
        margin: 0px 10px;
        color: white;
        transition: 0.3s;
    }
    
    .button_empty {
        background: transparent;
        border: 2px solid white;
    }
    
    .button_full {
        background: #00897b;
        border: 2px solid #00897b;
    }
    
    .button_empty:hover,
    .button_full:hover {
        border: 2px dotted white;
        background: #013d37;
    }
    /* Headet style end */
    /* About style start */
    
    .about {
        padding-top: 125px;
        padding-bottom: 125px;
        color: black;
        background: white;
        text-align: center;
    }
    
    .about__title {
        font-size: 30px;
        font-weight: bold;
    }
    
    .about__text {
        color: #212121;
        font-size: 15px;
        margin-bottom: 110px;
    }
    
    .about__h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-family: 'Open Sans Semibold';
        font-size: 20px;
    }
    /* About style end */